<%= cell("planner_konopas/config").(:javascript) %>
<%= cell("planner_konopas/config").( :templates) %>

<div class="row">
    <div class="col-xs-12">
        <div id='config-area'></div>
    </div>
</div>
